.input {
	font-size:0.6rem;;
	padding: 5px 10px;
	width: 100%;
	outline: none;
	background: #FFFFFF;
	color: #000000;
	border: 1px solid var(--disabled-color);
	border-radius: 5px;
	transition: .3s ease;
}

.input:focus {
	border: 1px solid var(--border-color);
}

.input::placeholder {
	color: #DDDDDD;
}
